In [1]:
import sklearn

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# We vertrekken van de titanic dataset titanic-train.csv (zie BB)
# TO DO: lees dit csv bestand in
titanic_df =

In [ ]:
# TO DO: toon de eerste 10 rijen van deze dataset

In [ ]:
# TO DO: hoeveel rijen en hoeveel kolommen heeft deze dataset, maw wat is de shape van deze dataset?

In [1]:
# Doel: passagiers uit de testdata classificeren als survived of niet
# Niet alle features spelen een rol in overleving 
# TO DO: delete deze features: id, naam, nr ticket en cabin
# Je kan hiervoor de drop() methode gebruiken; let erop dat je de aanpassingen doet in de dataset zelf

In [ ]:
# TO DO: toon opnieuw de eerste 10 rijen van deze dataset: je mag nu nog maar 8 kolommen overhouden

In [ ]:
# TO DO: Bepaal het aantal missing values per feature

In [ ]:
# ML algoritmen kunnen niet omgaan met missing values; 2 mogelijkheden (zie deel 2 data repre): imputation of delete
# Wij kiezen voor deleten
# TO DO: delete de observaties (personen) met missing values; de methode dropna() kan je hiervoor gebruiken

In [ ]:
# TO DO: Bepaal opnieuw de shape van deze dataset; je houdt nu 712 rijen en 8 kolommen over.

In [2]:
# Vraag voor de numerische variabelen hetvolgende op:
# - aantal niet null waarden
# - gemiddelde
# - standaard afwijking
# - minimum en maximum waarde
# - de 3 kwartielen

In [10]:
# We zoeken die features die invloed hebben op survived
# TO DO: Is er een verband tussen survived en leeftijd?

In [ ]:
# We zoeken die features die invloed hebben op survived
# TO DO: Is een verband tussen survived en fare?

In [ ]:
# We zoeken die features die invloed hebben op survived
# Speelt het geslacht een rol in surviven? 
# TO DO: Zoek het verband tussen survived en geslacht

In [ ]:
# We zoeken die features die invloed hebben op survived
# Speelt passengerClass een rol in surviven? 
# TO DO: Zoek het verband tussen survived en passengerclass

In [ ]:
# Is er verband (correlatie) tussen de features onderling? 
# TO DO: bepaal de correlatie tussen de features

In [ ]:
# Start ML ==> we maken de dataset klaar voor het toepassen van ML algorime
# Herinner ML algoritmen hebben numerieke waarden nodig ==> labels vervangen door getallen
# Eerte feature die we omzetten in numerieke waarden is Sex: 'female' / 'male ' ==> 0 / 1
# We gebruiken de fit_transform() methode (van LabelEncoder()) om female om te zetten naar 0 en male naar 1
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
titanic_df['Sex'] = label_encoder.fit_transform(titanic_df['Sex'])

In [ ]:
# TO DO: toon de eerste 5 rijen van deze dataset en controleer dat "Sex" bestaat uit 0 en 1

In [25]:
# origine waarden van 'Sex' kan je terugvinden via  
label_encoder.classes_

array(['female', 'male'], dtype=object)

In [ ]:
# Tweede feature die we omzetten in numerieke waarden is Embarked
# Niet geordende categorische data kan omgezet worden met oa. one hot encoding
# De categorische variabele embarked ==> 3 nieuwe discrete variabelen (met waarden 0 en 1)
titanic = pd.get_dummies(titanic_df, columns=['Embarked'])
titanic.head()

In [ ]:
# Shuffle de dataset
titanic = titanic.sample(frac=1).reset_index(drop=True) 
titanic.head()

In [28]:
# We schrijven de nieuwe data weg naar een csv bestand 
titanic.to_csv('titanic_train_df_klaar.csv', index = False) 
titanic_ML = pd.read_csv('titanic_train_df_klaar.csv')

In [29]:
# TO DO: Splits de dataset op in "train" en "test" (80% train en 20% test)
# TO DO: zet income in X en outcome (nl survived) in y
# Je kan hiervoor de voorgeprogrammeerde methode train_test_split() gebruiken

from sklearn.model_selection import train_test_split
X = titanic_ML.drop('Survived', axis=1)
y = titanic_ML['Survived']

X_train, X_test, y_train, y_test =

In [ ]:
# TO DO: vraag de shape op van X_train en y_train

In [ ]:
# TO DO: print de eerste 5 rijen van X_train

In [ ]:
# TO DO: vraag de shape op van X_test en y_test

In [ ]:
# Pas het logistic regression algoritme voor classificatie toe
from sklearn.linear_model import LogisticRegression
logistic_model = LogisticRegression(penalty= 'l2', solver='liblinear').fit(X_train, y_train)

In [ ]:
# TO DO: bepaal de voorspelde waarde y_pred
y_pred =

In [ ]:
# Hoe goed is deze predictie?
# Print de echte y-waarde en de voorspelde y-waarde af van 10 personen

In [ ]:
# TO DO: maak een kruistabel van y_pred tov y_test

In [37]:
# Er zijn kengetallen die de juistheid van de voorspelling weergeven
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [ ]:
# TO DO: bepaal de accuracy_score tussen y_test en y_pred
# TO DO: bepaal de precision_score tussen y_test en y_pred
# TO DO: bepaal de recall_score tussen y_test en y_pred

In [ ]:
# Ditzelfde kan je ook berekenen uit de crosstab
titanic_crosstab

In [40]:
TP = titanic_crosstab[1][1] #True Positve
TN = titanic_crosstab[0][0] #True Negative
FN = titanic_crosstab[1][0] 
FP = titanic_crosstab[0][1]

In [ ]:
acc_score_controle = (TP + TN) / (TP + TN + FP + FN)
prec_score_controle = TP / (TP + FP)
rec_score_controle = TP / (TP + FN)
print(acc_score_controle)
print(prec_score_controle)
print(rec_score_controle)

In [2]:
#extra uitleg over functies...
from sklearn.model_selection import train_test_split
?train_test_split