In [2]:
import random
from random import randint

In [1]:
aantal_studenten = 475
aantal_vakken = 3

In [10]:
#To Do: Creëer een 2 dim list "data". Aantal rijen = aantal_studenten / aantal kolommen = aantal_vakken. 
#Vul deze op met de juiste verdeling van 'ja' & 'neen' zoals voorzien in voorbeeld 13 pg 31
#Kolom1 = Python volgen
#Kolom2 = SQL volgen
#Kolom3 = Data Adv volgen

In [57]:
#Oplossing: List "data" creëren:
data = []
for i in range(aantal_studenten):
    if i < 25:
        data.append(['ja', 'ja', 'ja'])
    elif i < 60:
        data.append(['ja', 'neen', 'neen'])
    elif i < 235:
        data.append(['ja', 'neen', 'neen'])
    elif i < 290:
        data>append(['ja', 'neen', 'neen'])
    elif i < 335:
        data.append(['ja', 'neen', 'neen'])
    elif i < 410:
        data.append(['ja', 'neen', 'neen'])
    else:
        data.append(['ja', 'neen', 'neen'])

In [1]:
#To Do: Bereken de kans dat een willekeurig gekozen student
#1. Python volgt maar geen Data adv
#2. Data adv volgt maar geen SQL
#3. Python of Data adv volgt, maar geen SQL
#4. Python volgt, maar geen SQL en geen Data adv

SyntaxError: unexpected EOF while parsing (<ipython-input-1-240a5971e949>, line 19)

In [ ]:
#Oplossing 1: Python maar geen Data adv

In [60]:
aantal = 0
for i in range(aantal_studenten):
    if data[i][0] == 'ja' and not(data[i][2] == 'ja'):
        aantal +=1
print("Het aantal studenten dat Python volgt, maar geen data adv is ", aantal)
print("De kans dat een student Python volgt maar geen data adv is ", aantal / aantal_studenten)

Het aantal studenten dat Python volgt, maar geen data adv is  120
De kans dat een student Python volgt maar geen data adv is  0.25263157894736843

In [ ]:
#Oplossing 2: Data adv maar geen SQL

In [61]:
aantal = 0
for i in range(aantal_studenten):
    if dadta[i][2] == 'ja' and data[i][1] == 'neen':
        aantal += 1



print("Het aantal studenten dat data adv volgt, maar geen SQL is ", aantal)
print("De kans dat een student data adv volgt maar geen SQL is ", aantal / aantal_studenten)

Het aantal studenten dat data adv volgt, maar geen SQL is  220
De kans dat een student data adv volgt maar geen SQL is  0.4631578947368421

In [ ]:
#Oplossing 3: Python of Data adv volgt, maar geen SQL

In [62]:
aantal = 0
for i in range(aantal_studenten):
    if (data{i][0] == 'ja' or data[i][2]) and not(data[i][1] == 'ja'):
        aantal += 1

print("Het aantal studenten die python of data adv volgen maar niet SQL is ", aantal)
print("De kans dat een student python of data adv volgt maar geen SQL is ", aantal / aantal_studenten)

Het aantal studenten die python of data adv volgen maar niet SQL is  285
De kans dat een student python of data adv volgt maar geen SQL is  0.6

In [ ]:
#Oplossing 4: Python volgt, maar geen SQL en geen Data adv

In [63]:
aantal = 0
for i in range(aantal_studenten):
    if data[i][0] == 'ja' and not(data[i][1] == 'ja' or data[i][2] == 'ja'):
        aantal += 1


print("Het aantal studenten die python volgt maar geen SQL en geen data adv is ", aantal)
print("De kans dat een student python volgt maar geen SQL en geen data adv is ", aantal / aantal_studenten)

Het aantal studenten die python volgt maar geen SQL en geen data adv is  65
De kans dat een student python volgt maar geen SQL en geen data adv is  0.1368421052631579

In [ ]:
#To Do: Welke selectie wordt hieronder gemaakt?

In [64]:
aantal = 0
for i in range(aantal_studenten):
    if data[i][0] == 'ja' or data[i][2] == 'ja' and not(data[i][1] == 'ja'):
        aantal += 1
print("Aantal is ", aantal)

Aantal is  365

In [ ]:
# all studenten die python volgen of SQL maar niet tegelijk (met SQL) data advanced

In [ ]:
# Extra Opgave

In [ ]:
#To Do: Creëer een 2 dim list "gegevens". Aantal rijen = aantal_studenten (475) / aantal kolommen = aantal_vakken (3). 
#Vul deze op met 'ja' of 'neen'. Deze opvulling gebeurt random
#Kolom1 = Python volgen
#Kolom2 = SQL volgen
#Kolom3 = Data Adv volgen

In [65]:
#Oplossing: List "gegevens" creëren:
gegevens = []   
antwoorden = ['ja', 'neen']

In [71]:
#To Do: print(gegevens)

In [ ]:
#To Do: Bepaal uit de list "gegevens" het aantal studenten dat Python volgt.

In [76]:
#Oplossing
aantal = 0

In [ ]:
print("Het aantal studenten dat Python volgt is", aantal)

In [ ]:
#To Do: Bepaal uit de list "gegevens" het aantal studenten dat Python volgt maar niet SQL.

In [78]:
#Oplossing
aantal = 0

In [ ]:
print("Het aantal studenten dat Python volgt maar niet SQL is", aantal)

In [ ]:
#To Do: Welke studenten worden hier geselecteerd?

In [80]:
aantal = 0
for i in range(aantal_studenten):
    if not(gegevens[i][0] == 'ja' and gegevens[i][1] == 'ja'):
        aantal += 1

In [ ]:
#Antwoord:

In [ ]:
#To Do: Bepaal uit de list "gegevens" het aantal studenten dat Python of data adv volgt maar niet SQL

In [81]:
#Oplossing:
aantal = 0

In [ ]:
print("Het aantal studenten dat python of data adv volgt maar niet SQL is ", aantal)

In [ ]:
#To Do: Welke studenten worden hieronder berekend?

In [ ]:
aantal = 0
for i in range(aantal_studenten):
    if data[i][0] == 'ja' or data[i][2] == 'ja' and not(data[i][1] == 'ja'):
        aantal += 1

In [ ]:
#Antwoord: